<div class="wrapper" style="text-align: center;">
  <% if @user.errors.any? %>
    <p class="alert alert-danger" style="width: 500px; margin: 0 auto;"><%= @user.errors.full_messages %></p>
  <% end %>
  <%= form_for(@user, :html => {:style => "width: 500px; margin: 30px auto;"}) do |f| %>
    <div class="form-group" style="margin-bottom: 30px;">
      <label style="text-align: left; display: block;">名前</label>
      <%= f.text_field :name, class: 'form-control', style: 'margin-bottom: 15px;'%>
      <label style="text-align: left; display: block;">年齢</label>
      <%= f.text_field :age, class: 'form-control', style: 'margin-bottom: 15px;'%>
      <label style="text-align: left; display: block;">血液型</label>
      <%= f.select :blood_type, User.blood_types.keys.map {|k| [k, k]}, {}, { class: 'form-control', style: 'margin-bottom: 15px;', data: {} } %>
      <label style="text-align: left; display: block;">婚姻関係</label>
      <%= f.select :is_married, [['未婚', false], ['既婚', true]], {}, { class: 'form-control', data: {} } %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
